

<div *ngIf="commonLayout">
  <app-common-layout></app-common-layout>
</div>
<div *ngIf="customerLayout">
  <app-customer-layout></app-customer-layout>
</div>

<div *ngIf="showMsgDiv" class="alert alert-info">
  No products found in the cart.
</div>

<div *ngIf="!showMsgDiv">
  <p class="text-left">You have added the following products to the cart.</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of cartProducts">
        <td>{{ product.productName }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.price * product.quantity }}</td>
      </tr>
    </tbody>
  </table>
</div>
